@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*color: #778ca3;  gris*/
/*background-color: #a55eea;*/
/*background-color: #d1d8e0;   gris claro*/

body {
    font-family: "Raleway", sans-serif;
    margin: 0;
    background-color: #1e272e;
    position: relative;
  }

  #contenido{
    height: auto;
    display: none;
  }
  #contenido .esquinaiz{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
  }

  #contenido .esquinader{
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    transform: rotateY(180deg);
  }
  .hero {    
    background-image: 
    linear-gradient(to bottom, #1b1b1bab, #3a3a3ae0),url('/img/converted_image.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 2rem;
    position: relative;
    overflow: hidden;
  }

  .hero .content{
    margin-top: 10rem;
  }

.petal {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url('/img/petaloSolo.png');
    background-size: cover;
    animation: fall 10s linear infinite;
    overflow: hidden;
    z-index: 1;
}

@keyframes fall {
    0% { transform: translateY(-50px) rotate(0deg); opacity: 1; }
    100% { transform: translateY(100vh) rotate(360deg); opacity: 0; }
}


  .hero div{
    display: block;
    margin: 0 auto;
  }

  .hero svg{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 120px;
    margin-bottom: -2px;
    z-index: 10;
  }
  .confirmacion button:hover {
    background-color: #ffa801;
    cursor: pointer;
  }
  .confirmacion{
    color: white;
    text-align: center;
    padding: 60px 20px;
  }
  
  .container{
    width: 100%;
    height: 200px;
    padding: 2rem;
    margin-top: 3rem;
    overflow: hidden;
  }
  .separador_{
    display: block;
    margin: 2rem auto 7rem auto;
  }
  .typewriter-text {
    /* white-space: nowrap; */
    overflow: hidden;
    width: 100%;
    color: #ffd32a;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    margin: 2rem auto;
    /* border-right: 3px solid #d2dae2; */
  }
  
  .details {
    font-size: 40px;
    margin-bottom: 30px;
  }

  .hero h2 {
    font-family: "Great Vibes", cursive;
    font-size: 4em;
    font-weight: 600;
    text-align: center;
    background-image: linear-gradient(to right, #ffdc51, #ffb006, #ff9100, #ebbc00);
    background-size: 300% 100%;
    background-clip: text;
    -webkit-background-clip: text; /* Para navegadores WebKit */
    color: transparent;
    animation: gradient 7s ease-in-out infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 0%;
    }
  }

  .hero .separador{
    font-size: 2.2rem;
    text-align: center;
    background: linear-gradient(to bottom, #FFD32A 13%, #ff9b06 72%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    display: block;
    text-shadow: 3px 3px 5px inset;
    line-height: 1;
    margin: 2rem auto;
  }

  #mensaje{
    font-family: "Great Vibes", cursive;
    text-align: center;
    color: #ffd32a;
    margin: 3rem 2rem;
    font-size: 3rem;
    font-weight: 500;
  }

  .nos_casamos{
    font-family: "Great Vibes", cursive;
    text-align: center;
    font-size: 4rem;
    font-weight: 500;
    color: #ffff;
    text-shadow: 2px 2px 3px #0000;
    margin: 3rem auto;
  }

  .anillos{
    display: block;
    margin: 2rem auto;
    transform: rotate(16deg);
    filter: drop-shadow(3px 3px 6px black);
  }

  .contendor_circulo{
    position: relative;
    filter: drop-shadow(2px 2px 3px);
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 3rem auto 7rem auto;
    padding: 2rem;
  }

  .texto_fecha{
    text-align: center;
    color: #ffd32a;
    font-weight: 600;
    margin-top: 2rem;
    font-size: 30px;
  }

  .contendor_circulo p{
    font-family: "Great Vibes", sans-serif;
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffd32a;
    font-weight: 700;
    font-size: 50px;
    line-height: 0.8;
    text-shadow: 3px 2px 6px #1d1d1d;
  }

  .contendor_circulo img{
    display: block;
    margin: 30px auto;
    animation: rotar 4.5s linear infinite;
  }
  @media (min-width: 768px) {
    .contendor_circulo img{
      width: 30%;
    }
  }
  
  @keyframes rotar {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .contendor_ceremonia{
    position: relative;
    background-image: 
    linear-gradient(to bottom, #1b1b1bea, #29292977),url('/img/backgroundCeremonia.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 6rem 2rem;
  }

  .contendor_ceremonia h3{
    font-family: "Great Vibes", cursive;
    text-align: center;
    font-size: 3rem;
    color: #ffd32a;
    font-weight: 500;
    margin: 2rem auto;
  }
  .contendor_ceremonia svg{
    width: 30%;
    display: block;
    margin: 4rem auto;
  }
  .contendor_ceremonia p{
    color: #FFD32A;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 2rem;
    text-align: center;
  }

  .btn_como_llegar, .cerrar_modal{
    display: block;
    text-decoration: none;
    width: 60%;
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
    background-color: #ffa801;
    color: #373d44;
    font-weight: 600;
    margin: 2rem auto 0 auto;
    cursor: pointer;
    border: none;
    border-radius: 30px;
  }

  .contendor_ceremonia .separativo_bottom_1{
    position: absolute;
    bottom: -7rem;
    left: 0;
    width: 100vw;
    height: auto;
  }

  .contendor_ceremonia .separativo_bottom{
    position: absolute;
    bottom: -7.3rem;
    left: 0;
    width: 100vw;
    height: auto;
    z-index: 1;
  }

  .contenedor_contador{
    position: relative;
    width: 100%;
    height: 88vh;
  }

  .contenedor_contador img{
    filter: drop-shadow(3px 3px 5px);
  }

  .contenedor_contador h3{
    font-family: "Great Vibes", cursive;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    margin-top: 7rem;
    color: #ebbc00;
  }

  .contenedor_contador .contador {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 47vw;
    height: 400px;
  }

  .unidad {
    font-family: "Great Vibes", cursive;
    font-size: 2.3em;
    font-weight: bold;
    color: #ffff;
    text-align: center;
    position: relative;
    overflow: hidden;
    height: 100px;
    width: 100px;
    text-shadow: 2px 2px 3px #2a3036;
  }

  .unidad::after {
    content: attr(data-label);
    position: absolute;
    bottom: -4rem;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 0.5em;
    font-weight: normal;
    color: #ffd32a;
  }

  .numero {
    position: absolute;
    width: 100%;
    height: auto;
    animation: bajar 0.5s ease;
  }

  @keyframes bajar {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .contendor_recepcion{
    height: 100vh;
    background-image: 
    linear-gradient(to bottom, #1b1b1bab, #3a3a3a94),url('/img/fondoWebCelebracion.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    /* background: #2a3036; */
    padding: 6rem 2rem;
  }

  .contendor_recepcion h3{
    font-family: "Great Vibes", cursive;
    text-align: center;
    font-size: 3rem;
    color: #ffff;
    font-weight: 500;
    margin: 5rem auto;
  }
  .contendor_recepcion svg{
    width: 30%;
    display: block;
    margin: 4rem auto;
  }
  .animado{
    animation: tamano 1.5s ease-in-out infinite;
  }

  @keyframes tamano{
    0%{
      transform: scaleY(1);
    }
    50%{
      transform: scaleY(1.07);
      transform-origin: bottom;
    }
    100%{
      transform: scaleY(1);
    }
  }
  
  .contendor_recepcion p{
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 2rem;
    text-align: center;
  }

  .contendor_etiqueta{
    position: relative;
    padding: 6rem 2rem;
  }

  .contenedor_svgs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: 100%;
    height: auto;
    margin: 5rem auto;
    
  }
  .contendor_etiqueta .separativo_et{
    position: absolute;
    top: -5.5rem;
    left: 0;
    width: 100vw;
    height: auto;
    z-index: 1;
  }

  .contendor_etiqueta .separativo_et_2{
    position: absolute;
    top: -5.6rem;
    left: 0;
    width: 100vw;
    height: auto;
    /* transform: rotateY(180deg); */
  }

  .contendor_etiqueta h3{
    font-family: "Great Vibes", cursive;
    text-align: center;
    font-size: 3rem;
    color: #ffffff;
    font-weight: 500;
    margin: 2rem auto;
  }

  .contendor_etiqueta .corbata{
    /* filter: drop-shadow(3px 5px rgb(2, 2, 2)); */
    animation: sube 1.3s ease-in-out infinite;
    object-position: bottom;
  }

  @keyframes sube{
    0%{
      transform: translateY(0) scaleY(1);
    }
    50%{
      transform: translateY(-5px) scaleY(1.1);
    }
    100%{
      transform: translateY(0) scaleY(1);
    }
  }

  .contenedor_svgs .vestido{
    animation: subeVestido 1.4s ease-in-out infinite;
    object-position: bottom;
    margin: 2rem;
  }

  @keyframes subeVestido{
    0%{
      transform: translateY(0) scaleY(1);
    }
    50%{
      transform: translateY(-10px) scaleY(1.1);
    }
    100%{
      transform: translateY(0) scaleY(1);
    }
  }

  .contendor_etiqueta p{
    text-align: center;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 2rem;
  }
  
  .confirmacion {
    text-align: center;
    padding: 40px 20px;
  }

  .confirmacion h2{
    margin: 0px auto 30px auto;
    font-size: 1.7em;
    color: #ffffff;
  }
  
  .confirmacion #mensaje_2{
    font-family: "Great Vibes", cursive;
    text-align: center;
    color: #ffffff;
    margin: 3rem 2rem;
    font-size: 4rem;
    font-weight: 500;
  }

  .confirmacion button {
    background-color: #ff9100; 
    font-family: inherit;
    color: #ffff;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    padding: 15px 30px;
    box-shadow: 3px 3px 6px #242424;
  }

  .music-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    color: #ffb006;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-size: 40px;
    cursor: pointer;
    z-index: 1000;
    animation: vibrar 1s infinite ease-in-out;
  }

  @keyframes vibrar {
    0%{
      transform: rotate(5deg) scale(1);
    }
    50%{
      transform: rotate(0) scale(1.1);
    }
    100%{
      transform: rotate(5deg) scale(1);
    }
  }
  

  .louder-content{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.confirmacion{
  background-image: 
  linear-gradient(to bottom, #1b1b1bf3, #292929b0),url('/img/imagenfooter.webp');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 5rem 2rem;
  position: relative;
  overflow: hidden;
}
.cierre_modal{
  display: none;
}
.modal {
  display: flex;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.767);
  justify-content: center;
  align-items: center;
}

.modal-contenido {
  background-color: white;
  padding: 20px;
  margin: 2rem;
  border-radius: 12px;
  text-align: center;
  font-size: 18px;
  animation: aparecer 0.5s ease;
}

@keyframes aparecer {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

#mensajeModal{
  font-size: 1.2rem;
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
  margin-top: 1rem;
}