@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* @import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap"); */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*color: #778ca3;  gris*/
/*background-color: #a55eea;*/
/*background-color: #d1d8e0;   gris claro*/

body {
    font-family: "Raleway", sans-serif;
    margin: 0;
    background-color: #1e272e;
    /* background: #485460;
    background: linear-gradient(358deg, rgb(72, 84, 96) 0%, #1e272e 100%); */
    position: relative;
    /* border: ridge #cfcfcf 20px; */
  }
  #contenido{
    height: auto;
    display: none;
  }
  #contenido .esquinaiz{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
  }

  #contenido .esquinader{
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    transform: rotateY(180deg);
  }
  .hero {    
    background-image: 
    linear-gradient(to bottom, #1b1b1bab, #3a3a3ae0),url('/img/parejaImg.jpeg'); /* Imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0 auto;
    padding: 2rem;
    position: relative;
  }

  .hero svg{
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: -2px;
  }
  .confirmacion button:hover {
    background-color: #ffa801;
    cursor: pointer;
  }
  .confirmacion{
    color: white;
    text-align: center;
    padding: 60px 20px;
  }
  .hero div{
    display: block;
    margin: 5rem auto 0 auto;
  }
  .container{
    width: 100%;
    height: 120px;
    overflow: hidden;
  }
  .separador_{
    display: block;
    margin: 2rem auto;
  }
  .typewriter-text {
    /* white-space: nowrap; */
    overflow: hidden;
    width: 100%;
    color: #ffd32a;
    text-align: left;
    font-weight: 600;
    font-size: 25px;
    margin: 0 auto;
    /* border-right: 3px solid #d2dae2; */
  }
  
  .details {
    font-size: 40px;
    margin-bottom: 30px;
  }

  .hero h2 {
    font-family: "Great Vibes", cursive;
    font-size: 4em;
    font-weight: 600;
    /* background: #FFD32A;
    background: linear-gradient(to bottom, #FFD32A 13%, #ffb006 72%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    text-align: center;
    background-image: linear-gradient(to right, #ffdc51, #ffb006, #ff9100, #ebbc00);
    background-size: 300% 100%;
    background-clip: text;
    -webkit-background-clip: text; /* Para navegadores WebKit */
    color: transparent;
    animation: gradient 7s ease-in-out infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 0%;
    }
  }

  .hero .separador{
    font-size: 3rem;
    text-align: center;
    background: linear-gradient(to bottom, #FFD32A 13%, #ff9b06 72%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    display: block;
    text-shadow: 3px 3px 5px inset;
    line-height: 1;
    margin: 2rem auto;
  }

  #mensaje{
    text-align: center;
    color: #d2dae2;
    margin: 25px;
    font-weight: 400;
  }

  .contendor_circulo{
    position: relative;
    filter: drop-shadow(2px 2px 3px);
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 5rem;
  }

  .texto_fecha{
    text-align: center;
    color: #ffb006;
    font-weight: 600;
    margin-top: 2rem;
    font-size: 30px;
  }

  .contendor_circulo p{
    font-family: "Great Vibes", sans-serif;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffd32a;
    font-weight: 700;
    font-size: 50px;
    line-height: 0.8;
    text-shadow: 3px 2px 6px #1d1d1d;
  }

  .contendor_circulo img{
    display: block;
    margin: 60px auto;
    animation: rotar 4.5s linear infinite;
  }
  @media (min-width: 768px) {
    .contendor_circulo img{
      width: 30%;
    }
  }
  
  @keyframes rotar {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .contendor_ceremonia{
    background: #485460;
    padding: 6rem 2rem;
  }
  .contendor_ceremonia h3{
    font-family: "Great Vibes", cursive;
    text-align: center;
    font-size: 5rem;
    color: #ffd32a;
    font-weight: 500;
    margin: 2rem auto;
  }
  .contendor_ceremonia svg{
    width: 60%;
    display: block;
    margin: 4rem auto;
  }
  .contendor_ceremonia p{
    color: #FFD32A;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 2rem;
  }

  .contendor_recepcion{
    background: #2a3036;
    padding: 6rem 2rem;
  }
  .contendor_recepcion h3{
    font-family: "Great Vibes", cursive;
    text-align: center;
    font-size: 5rem;
    color: #ffd32a;
    font-weight: 500;
    margin: 2rem auto;
  }
  .contendor_recepcion svg{
    width: 60%;
    display: block;
    margin: 4rem auto;
  }
  .contendor_recepcion p{
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 2rem;
  }

  .contendor_etiqueta{
    padding: 2rem;
  }

  .contendor_etiqueta h3{
    text-align: center;
    font-size: 2rem;
    color: #ffffff;
    font-weight: 500;
    margin: 2rem auto;
  }

  .contendor_etiqueta p{
    text-align: center;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 2rem;
  }
  
  .confirmacion {
    text-align: center;
    padding: 40px 20px;
  }

  .confirmacion h2{
    margin: 0px auto 30px auto;
    font-size: 1.7em;
    color: #ffa801;
  }
  
  .confirmacion button {
    background-color: #ffd32a; 
    font-family: inherit;
    color: #485460;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    padding: 15px 30px;
    box-shadow: 3px 3px 6px #242424;
  }

  .music-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    color: #ffb006;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-size: 40px;
    cursor: pointer;
    z-index: 1000;
  }
  

  .louder-content{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }